/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Campton-Light', "Open-Sans", sans-serif;
    color: #2d404f;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.clearfix:before, .introduction-container:before, .fact-container:before, .clearfix:after, .introduction-container:after, .fact-container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.clearfix:after, .introduction-container:after, .fact-container:after {
  clear: both; }

.smallgreenline, .quick-fact-container hr, .slider-container hr, .more-info-subcontainer hr, .contact-container hr {
  width: 45px;
  border-top: 3px solid #21cccc; }

@font-face {
  font-family: 'Campton-Bold';
  src: url("../Campton/Campton_Bold.woff2") format("woff2"), url("../Campton/Campton_Bold.woff") format("woff"); }
@font-face {
  font-family: 'Campton-Book';
  src: url("../Campton/Campton_Book.woff2"), format("woff2"), url("../Campton/Campton_Book.woff") format("woff"); }
@font-face {
  font-family: 'Campton-Light';
  src: url("../Campton/Campton_Light.woff2") format("woff2"), url("../Campton/Campton_Light.woff") format("woff"); }
@font-face {
  font-family: 'Campton-Medium';
  src: url("../Campton/Campton_Medium.woff2") format("woff2"), url("../Campton/Campton_Medium.woff") format("woff"); }
@font-face {
  font-family: 'Campton-SemiBold';
  src: url("../Campton/Campton_SemiBold.woff2") format("woff2"), url("../Campton/Campton_SemiBold.woff") format("woff"); }
.main-container {
  width: 100%; }

.form-submit-msg-container {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 100;
  padding: 10px 7%;
  width: 100%;
  text-align: center;
  position: fixed;
  display: none;
  top: 0;
  font-size: 12px; }
  @media (min-width: 768px) {
    .form-submit-msg-container {
      font-size: 14px; } }

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  position: absolute; }

.hero-image-container {
  background-image: url("../img/hero-img-large.jpg");
  background-size: cover;
  width: 100%;
  color: #fff;
  background-color: transparent;
  padding-bottom: 65%;
  position: relative;
  z-index: 2; }
  @media (min-width: 600px) {
    .hero-image-container {
      padding-bottom: 55%; } }
  .hero-image-container a {
    width: 90px;
    font-size: 12px;
    border: solid 2px white;
    border-radius: 5px;
    height: 30px;
    float: right;
    line-height: 30px;
    letter-spacing: 1.3px;
    padding: 0;
    font-family: 'Campton-Book', "Open-Sans", sans-serif;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    color: white; }
    @media (min-width: 1024px) {
      .hero-image-container a {
        width: 150px;
        font-size: 14px;
        line-height: 50px;
        height: 50px;
        letter-spacing: 1.5px; }
        .hero-image-container a:hover {
          color: #2d404f;
          border-color: #2d404f; } }
  .hero-image-container a, .hero-image-container .logo-container {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%; }

.logo-container {
  float: left;
  z-index: 2;
  width: 90px;
  cursor: pointer; }
  @media (min-width: 1024px) {
    .logo-container {
      width: 150px; } }

.logo {
  width: 100%; }

.hero-description {
  margin: 0;
  margin-left: 7%;
  position: absolute;
  bottom: 15%;
  width: 300px;
  font-size: 16px;
  line-height: 22px;
  z-index: 2;
  font-family: 'Campton-SemiBold', "Open-Sans", sans-serif; }
  @media (min-width: 600px) {
    .hero-description {
      bottom: 20%;
      width: 435px;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 1.2px; } }
  @media (min-width: 768px) {
    .hero-description {
      width: 555px;
      font-size: 28px;
      line-height: 38px; } }
  @media (min-width: 1024px) {
    .hero-description {
      width: 635px;
      font-size: 36px;
      line-height: 40px; } }
  @media (min-width: 1440px) {
    .hero-description {
      width: 800px;
      font-size: 40px;
      line-height: 55px; } }

.introduction-container {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  background-color: #2d404f;
  margin-top: -1px; }
  @media (min-width: 768px) {
    .introduction-container {
      padding-bottom: 250px; } }

.intro-description {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 14px;
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 600px) {
    .intro-description {
      width: 490px; } }
  @media (min-width: 768px) {
    .intro-description {
      width: 530px;
      padding-top: 70px;
      padding-bottom: 30px;
      font-size: 15px; } }
  @media (min-width: 1024px) {
    .intro-description {
      width: 630px;
      font-size: 18px;
      padding-top: 85px;
      padding-bottom: 40px; } }
  @media (min-width: 1440px) {
    .intro-description {
      padding-top: 100px;
      padding-bottom: 80px;
      width: 820px;
      font-size: 20px; } }

.fact-container {
  width: 100%;
  padding-bottom: 50px;
  background-color: #2d404f;
  margin-top: -1px; }
  @media (min-width: 768px) {
    .fact-container {
      background-color: #fff;
      margin: 0 auto; } }
  @media (min-width: 1024px) {
    .fact-container {
      background-color: #fff;
      width: 920px; } }
  @media (min-width: 1440px) {
    .fact-container {
      background-color: #fff;
      width: 1244px; } }

@media (min-width: 768px) {
  .intro-facts {
    margin: 0 auto; } }

.intro-fact-container {
  width: 90%;
  margin: 20px auto;
  height: 400px;
  text-align: center;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.2);
  background-color: #fff; }
  @media (min-width: 600px) {
    .intro-fact-container {
      width: 400px; } }
  @media (min-width: 768px) {
    .intro-fact-container {
      width: 30%;
      float: left;
      display: inline-block;
      margin-right: 2.499%;
      margin-top: -200px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.2); }
      .intro-fact-container:first-child {
        margin-left: 2.499%; } }
  @media (min-width: 1024px) {
    .intro-fact-container {
      width: 300px;
      margin-right: 10px; }
      .intro-fact-container:last-child {
        margin-right: 0; }
      .intro-fact-container:first-child {
        margin-left: 0; } }
  @media (min-width: 1440px) {
    .intro-fact-container {
      width: 400px;
      margin-right: 20px; }
      .intro-fact-container:last-child {
        margin-right: 0; } }

.intro-fact-icon {
  display: block;
  padding: 50px;
  margin: 0 auto; }

.intro-fact-header {
  width: 168px;
  margin: 0 auto;
  color: #2d404f;
  font-family: 'Campton-SemiBold', "Open-Sans", sans-serif; }

.intro-fact-description {
  color: #949ca8;
  width: 260px;
  margin: 15px auto 0; }
  @media (min-width: 768px) {
    .intro-fact-description {
      width: 220px; } }
  @media (min-width: 1024px) {
    .intro-fact-description {
      width: 260px; } }

@media (min-width: 600px) {
  .quick-facts-container {
    margin-bottom: 50px; } }

.quick-fact-container {
  text-align: center;
  margin-bottom: 50px; }
  .quick-fact-container hr {
    margin: 1em auto; }
    @media (min-width: 600px) {
      .quick-fact-container hr {
        text-align: left;
        margin-left: 0; } }
  @media (min-width: 600px) {
    .quick-fact-container {
      max-width: 600px;
      margin: 0 auto 50px;
      clear: both;
      overflow: hidden;
      padding-right: 30px;
      padding-left: 30px; } }
  @media (min-width: 768px) {
    .quick-fact-container {
      margin-bottom: 100px;
      max-width: 768px; } }
  @media (min-width: 1024px) {
    .quick-fact-container {
      padding: 0;
      max-width: 900px; } }
  @media (min-width: 600px) {
    .quick-fact-container:nth-child(odd) .fact-box {
      float: right; }
    .quick-fact-container:nth-child(odd) .quick-fact-image {
      float: left; } }

.fact-box {
  margin-top: 20px;
  margin-bottom: 20px; }
  @media (min-width: 600px) {
    .fact-box p {
      margin-left: 0; } }
  @media (min-width: 600px) {
    .fact-box {
      width: 49%;
      display: inline-block;
      text-align: left; } }
  @media (min-width: 768px) {
    .fact-box {
      width: 48%; } }
  @media (min-width: 1024px) {
    .fact-box {
      width: 45%; } }

.fact-description {
  width: 250px;
  margin: 0 auto 10px;
  font-family: 'Campton-Book', "Open-Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #949ca8;
  letter-spacing: 1px; }
  @media (min-width: 1024px) {
    .fact-description {
      font-size: 16px;
      line-height: 28px;
      width: 290px; } }

.quick-fact-image {
  width: 95%;
  max-width: 385px; }
  @media (min-width: 600px) {
    .quick-fact-image {
      width: 50%;
      vertical-align: top;
      max-width: 260px; } }
  @media (min-width: 768px) {
    .quick-fact-image {
      max-width: 320px; } }

.quick-facts-header {
  padding: 25px 12px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  max-width: 335px;
  font-family: 'Campton-SemiBold', "Open-Sans", sans-serif; }
  @media (min-width: 768px) {
    .quick-facts-header {
      max-width: 400px;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 70px; } }

.fact-header {
  font-size: 14px;
  font-family: 'Campton-SemiBold', "Open-Sans", sans-serif; }

.motto-container {
  width: 100%;
  padding: 50px 0;
  background-color: #f9fcff; }

.motto-header {
  margin: 0 auto;
  max-width: 350px;
  padding: 50px 15px;
  text-align: center;
  font-size: 18px;
  font-family: 'Campton-SemiBold', "Open-Sans", sans-serif; }
  @media (min-width: 600px) {
    .motto-header {
      font-size: 24px;
      line-height: 30px;
      max-width: 450px; } }
  @media (min-width: 768px) {
    .motto-header {
      font-size: 28px;
      line-height: 36px;
      max-width: 550px; } }
  @media (min-width: 1024px) {
    .motto-header {
      font-size: 32px;
      line-height: 42px; } }
  @media (min-width: 1440px) {
    .motto-header {
      font-size: 36px;
      line-height: 48px;
      max-width: 650px; } }

.slider-container {
  width: 100%;
  padding: 50px 0;
  text-align: center; }
  .slider-container hr {
    margin: 0 auto; }

.slide-head {
  padding: 55px; }

.slider-header {
  font-size: 16px;
  max-width: 370px;
  margin: 0 auto;
  padding-bottom: 10px;
  font-family: 'Campton-SemiBold', "Open-Sans", sans-serif; }
  @media (min-width: 1024px) {
    .slider-header {
      padding-bottom: 15px; } }

.slider-description {
  font-size: 14px;
  color: #a8b1bd;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 10px 30px; }
  @media (min-width: 1024px) {
    .slider-description {
      padding-top: 15px; } }

.size-slider-header {
  font-size: 12px;
  font-family: 'Campton-Book', "Open-Sans", sans-serif; }

.org-size-container {
  width: 250px;
  margin: 0 auto;
  position: relative;
  padding-left: 45px;
  height: 44px; }
  @media (min-width: 768px) {
    .org-size-container {
      height: 47px; } }
  @media (min-width: 1024px) {
    .org-size-container {
      padding-left: 86px;
      height: 61px; } }
  @media (min-width: 1440px) {
    .org-size-container {
      padding-left: 70px;
      height: 70px; } }

.people-icon {
  margin-right: 10px;
  left: 50px;
  top: 15%;
  position: absolute; }
  .people-icon img {
    vertical-align: sub;
    width: 25px;
    height: 25px; }
    @media (min-width: 1024px) {
      .people-icon img {
        width: 30px;
        height: 30px; } }
  @media (min-width: 1024px) {
    .people-icon {
      left: 48px;
      top: 20%; } }

#progress-bar {
  width: 100%;
  margin: 0 auto 40px;
  height: 10px;
  background: #a8b1bd;
  border-radius: 10px;
  border: none; }
  @media (min-width: 768px) {
    #progress-bar {
      height: 20px; } }

#progress-bar .ui-slider-range {
  background: #21cccc;
  border-radius: 5px;
  background-size: 6px 6px !important;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjEuMCIgeDI9IjAuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI0NiUiIHN0b3AtY29sb3I9IiMyMWNjY2MiLz48c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI1NSUiIHN0b3AtY29sb3I9IiMyMWNjY2MiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=");
  background-size: 100%;
  background-image: -moz-linear-gradient(135deg, #21cccc 46%, #fff 49%, #fff 51%, #21cccc 55%);
  background-image: -webkit-linear-gradient(135deg, #21cccc 46%, #fff 49%, #fff 51%, #21cccc 55%);
  background-image: linear-gradient(-45deg, #21cccc 46%, #fff 49%, #fff 51%, #21cccc 55%); }
  @media (min-width: 768px) {
    #progress-bar .ui-slider-range {
      border-radius: 10px; } }

#progress-bar .ui-slider-handle {
  background: #21cccc;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 12px;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
  margin-top: -3px; }
  @media (min-width: 768px) {
    #progress-bar .ui-slider-handle {
      box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
      margin-top: -10px;
      height: 50px;
      width: 50px;
      border-radius: 25px; } }

.slider-main-container {
  padding: 20px;
  margin: 0 auto;
  width: 80%; }
  @media (min-width: 600px) {
    .slider-main-container {
      padding: 20px 0; } }

.slider-num-container {
  width: 180px;
  display: inline-block;
  font-size: 12px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px; }
  @media (min-width: 600px) {
    .slider-num-container {
      padding-bottom: 10px; } }
  @media (min-width: 768px) {
    .slider-num-container {
      margin-left: 20px;
      margin-right: 20px;
      width: 225px; } }
  .slider-num-container p {
    font-family: 'Campton-Book', "Open-Sans", sans-serif;
    padding-left: 10px; }
  .slider-num-container .dollar-icon, .slider-num-container .number-icon {
    font-family: 'Campton-Bold', "Open-Sans", sans-serif; }

.dollar-icon {
  font-size: 12px;
  margin-top: 2px;
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 600px) {
    .dollar-icon {
      font-size: 16px;
      margin-top: 3px; } }
  @media (min-width: 768px) {
    .dollar-icon {
      font-size: 18px; } }
  @media (min-width: 1024px) {
    .dollar-icon {
      font-size: 22px;
      margin-top: 4px; } }
  @media (min-width: 1440px) {
    .dollar-icon {
      font-size: 24px;
      margin-top: 5px; } }

.number-header, #swatch {
  color: #21cccc;
  font-family: 'Campton-SemiBold', "Open-Sans", sans-serif; }

#swatch {
  position: absolute;
  left: 86px; }
  @media (min-width: 1024px) {
    #swatch {
      left: 86px; } }

.number-icon {
  margin-left: -2px; }
  @media (min-width: 600px) {
    .number-icon {
      margin-left: -3px; } }
  @media (min-width: 1024px) {
    .number-icon {
      margin-left: -4px; } }
  @media (min-width: 1440px) {
    .number-icon {
      margin-left: -5px; } }

.number-icon, #swatch {
  font-size: 32px; }
  @media (min-width: 768px) {
    .number-icon, #swatch {
      font-size: 34px; } }
  @media (min-width: 1024px) {
    .number-icon, #swatch {
      font-size: 44px; } }
  @media (min-width: 1440px) {
    .number-icon, #swatch {
      font-size: 50px; } }

.image-swipe-container {
  position: relative;
  width: 100%; }

.more-info-container {
  position: relative;
  width: 100%; }
  .more-info-container img {
    width: 100%; }

.more-info-subcontainer {
  font-size: 14px;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  letter-spacing: 1px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7); }
  @media (min-width: 600px) {
    .more-info-subcontainer {
      margin-left: 7%;
      top: 50%;
      transform: translate(0, -50%);
      width: 200px;
      height: 325px;
      padding: 20px; } }
  @media (min-width: 768px) {
    .more-info-subcontainer {
      width: 300px;
      height: 380px; } }
  @media (min-width: 1024px) {
    .more-info-subcontainer {
      padding: 20px; } }
  @media (min-width: 1440px) {
    .more-info-subcontainer {
      width: 400px;
      height: 500px;
      padding: 30px; } }
  .more-info-subcontainer hr {
    text-align: left; }
    @media (min-width: 768px) {
      .more-info-subcontainer hr {
        margin-top: 20px;
        margin-bottom: 20px; } }

.more-info-text-container {
  max-width: 370px;
  max-height: 175px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  padding: 10px; }
  @media (min-width: 600px) {
    .more-info-text-container {
      max-width: inherit;
      max-height: inherit;
      transform: initial;
      top: initial;
      left: initial;
      padding: 0; } }

.more-info-header {
  font-size: 14px;
  padding: 0px 0px 20px;
  width: 80%;
  font-family: 'Campton-SemiBold', "Open-Sans", sans-serif; }
  @media (min-width: 600px) {
    .more-info-header {
      padding: 10px 10px 30px;
      font-size: 16px;
      padding-left: 0; } }
  @media (min-width: 768px) {
    .more-info-header {
      font-size: 20px; } }
  @media (min-width: 1024px) {
    .more-info-header {
      font-size: 24px; } }

.more-info-subheader {
  font-size: 12px;
  font-family: 'Campton-Bold', "Open-Sans", sans-serif; }
  @media (min-width: 600px) {
    .more-info-subheader {
      font-size: 14px; } }
  @media (min-width: 1024px) {
    .more-info-subheader {
      font-size: 15px; } }

.more-info-description {
  font-size: 12px;
  padding: 0 50px 10px 0px;
  letter-spacing: 0px;
  line-height: 1.6em;
  font-family: 'Campton-Book', "Open-Sans", sans-serif; }
  @media (min-width: 600px) {
    .more-info-description {
      font-size: 12px;
      padding-left: 0;
      padding-right: 10px; } }
  @media (min-width: 768px) {
    .more-info-description {
      max-width: 240px; } }
  @media (min-width: 1024px) {
    .more-info-description {
      max-width: 255px;
      font-size: 14px;
      letter-spacing: 1px; } }

/* Swiper Styles */
.swiper-container .swiper-pagination.swiper-pagination-bullets {
  transform: rotate(90deg);
  right: 0px;
  width: initial;
  left: inherit;
  bottom: 50%; }
  @media (min-width: 1024px) {
    .swiper-container .swiper-pagination.swiper-pagination-bullets {
      right: 25px; } }
  @media (min-width: 1440px) {
    .swiper-container .swiper-pagination.swiper-pagination-bullets {
      right: 50px; } }
.swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #a8b1bd;
  opacity: .5; }
.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #a8b1bd;
  opacity: 1; }

.contact-container {
  background-color: #2d404f;
  padding: 10px;
  padding-bottom: 100px;
  margin-top: -1px;
  position: relative;
  z-index: 2; }
  .contact-container hr {
    margin: 10px auto 30px; }
    @media (min-width: 768px) {
      .contact-container hr {
        margin: 20px auto 50px; } }
  @media (min-width: 768px) {
    .contact-container {
      background-color: #fff;
      padding: 0;
      padding-bottom: 200px; } }

.contact-header {
  width: 100%;
  padding-top: 20px;
  background-color: #2d404f;
  font-family: 'Campton-SemiBold', "Open-Sans", sans-serif; }
  @media (min-width: 768px) {
    .contact-header {
      padding-top: 100px;
      padding-bottom: 210px; } }
  @media (min-width: 1440px) {
    .contact-header {
      padding-bottom: 310px; } }
  .contact-header h2 {
    color: #fff;
    text-align: center; }

.form-container {
  width: 100%;
  background-color: #fff;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 400px;
  font-size: 14px; }
  @media (min-width: 768px) {
    .form-container {
      margin-top: -200px;
      max-width: 620px;
      padding: 25px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.2); } }
  @media (min-width: 1024px) {
    .form-container {
      margin-top: -200px;
      max-width: 768px;
      height: 525px;
      padding: 50px; } }
  @media (min-width: 1440px) {
    .form-container {
      margin-top: -300px;
      max-width: 1024px;
      height: 600px;
      padding: 70px; } }

.contact-description {
  margin-bottom: 20px;
  padding: 0;
  font-family: 'Campton-Medium', "Open-Sans", sans-serif; }
  @media (min-width: 1024px) {
    .contact-description {
      margin-bottom: 30px; } }

.contact-subhead {
  font-size: 13px;
  font-family: 'Campton-SemiBold', "Open-Sans", sans-serif;
  color: #a8b1bd; }

.contact-subhead-info {
  margin-bottom: 10px;
  font-family: 'Campton-Medium', "Open-Sans", sans-serif; }
  @media (min-width: 1024px) {
    .contact-subhead-info {
      margin-bottom: 20px; } }

.contact-info, form {
  vertical-align: middle;
  padding: 30px;
  max-width: 400px; }
  @media (min-width: 768px) {
    .contact-info, form {
      width: 280px;
      display: inline-block;
      padding: 10px; } }
  @media (min-width: 1024px) {
    .contact-info, form {
      vertical-align: top;
      position: relative;
      top: 50%;
      transform: translateY(-50%); } }
  @media (min-width: 1440px) {
    .contact-info, form {
      width: 400px; } }

label, input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  line-height: 18px; }

input, textarea {
  font-size: 14px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid #dddddd;
  font-family: 'Campton-Light', "Open-Sans", sans-serif;
  padding-top: 4px;
  padding-left: 4px; }

textarea {
  height: 100px; }

input:focus, textarea:focus {
  outline: none;
  border-bottom: 2px solid #cdd1d5; }

button:focus {
  outline: none; }

span:focus {
  outline: none;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.4) !important; }
  @media (min-width: 768px) {
    span:focus {
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.4) !important; } }

input[type="checkbox"] {
  display: none; }

.checkbox-container {
  margin-bottom: 10px;
  margin-left: 35px; }

.checkbox-container label {
  position: relative; }

.error {
  border: 2px solid red;
  border-bottom: 2px solid red !important; }

.input-container {
  position: relative; }

#name-error, #email-error, #message-error {
  position: absolute;
  top: 66px;
  color: red; }
  #name-error.error, #email-error.error, #message-error.error {
    border: none !important; }

#message-error {
  top: 100px; }

/* Base styles for spans */
.checkbox-container span::before,
.checkbox-container span::after {
  content: '';
  position: absolute;
  top: -5px;
  bottom: 0;
  margin: auto; }

/* Check-boxes */
.checkbox-container span.checkbox::before {
  width: 20px;
  height: 20px;
  background-color: #fff;
  left: -35px;
  box-sizing: border-box;
  border: 2px solid #dddddd;
  transition: border-color .2s;
  cursor: pointer; }

@media (min-width: 1024px) {
  .checkbox-container span.checkbox:hover::before {
    border: 2px solid #cdd1d5; } }
.checkbox-container span.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: -32px;
  top: -1px;
  color: transparent;
  cursor: pointer; }

input[type="checkbox"]:checked + label span.checkbox::after {
  color: #2d404f; }

.social-icon {
  width: 24px;
  height: 20px;
  background-image: url("../img/social-icons.png");
  background-size: 64px 20px;
  display: inline-block; }
  @media (min-width: 1024px) {
    .social-icon:hover {
      -ms-transform: scale(1.2);
      /* IE 9 */
      -webkit-transform: scale(1.2);
      /* Safari */
      transform: scale(1.2); } }

.twitter-icon {
  background-position: 0 0; }

.linked-in-icon {
  background-position: 24px 0; }
  @media (min-width: 1024px) {
    .linked-in-icon {
      margin-left: 12px; } }

form label {
  font-size: 13px;
  font-family: 'Campton-SemiBold', "Open-Sans", sans-serif;
  color: #a8b1bd; }
@media (min-width: 1024px) {
  form {
    margin-left: 60px; } }

.form-button-container {
  position: relative;
  margin-bottom: 20px; }
  .form-button-container button {
    position: absolute;
    right: -25px;
    bottom: -28px;
    height: 60px;
    width: 60px;
    border: none;
    background: transparent;
    padding: 0; }
    .form-button-container button img {
      width: 60px;
      height: 60px; }
    @media (min-width: 768px) {
      .form-button-container button {
        right: -33px;
        bottom: -27px; } }
    @media (min-width: 1024px) {
      .form-button-container button:hover {
        -ms-transform: scale(1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2);
        /* Safari */
        transform: scale(1.2); } }

.update-checkbox {
  display: inline;
  vertical-align: middle;
  margin-bottom: 0; }

.update-description {
  font-family: 'Campton-Light', "Open-Sans", sans-serif;
  font-size: 13px; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

footer {
  width: 100%;
  display: block;
  padding: 10px 7%;
  border-top: 2px solid #dddddd;
  background-color: #f6f7f8;
  color: #bebebe;
  font-family: 'Campton-Light', "Open-Sans", sans-serif;
  font-size: 10px;
  text-align: center; }
  @media (min-width: 600px) {
    footer {
      padding: 20px 7%;
      text-align: left; } }
  @media (min-width: 1024px) {
    footer {
      padding: 50px 7%; } }
  footer a:hover {
    color: #dddddd; }
  footer .footer-link-container {
    display: block; }
    @media (min-width: 600px) {
      footer .footer-link-container {
        display: inline-block; } }
  footer span, footer a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #bebebe;
    font-family: 'Campton-Light', "Open-Sans", sans-serif;
    font-size: 10px; }
    @media (min-width: 600px) {
      footer span, footer a {
        margin-left: 10px;
        padding: 0; } }
    @media (min-width: 768px) {
      footer span, footer a {
        margin-left: 20px; } }
    @media (min-width: 1024px) {
      footer span, footer a {
        font-size: 12px;
        margin-left: 45px; } }
    @media (min-width: 1440px) {
      footer span, footer a {
        font-size: 14px;
        margin-left: 60px; } }
  footer #footer-logo {
    margin-left: 0; }
  footer .active {
    font-family: 'Campton-Medium', "Open-Sans", sans-serif; }

/*# sourceMappingURL=style.css.map */















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Style placeholder text
 */
::-webkit-input-placeholder {
   color: #dddddd;
}

:-moz-placeholder { /* Firefox 18- */
   color: #dddddd;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #dddddd;
}

:-ms-input-placeholder {
   color: #dddddd;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
