$darkgreen: #2d404f;
$midgreen: #297373;
$lightgreen: #21cccc;
$altgreen: #287d7d;
$white: #fff;
$offwhite: #f9fcff;
$footergrey: #f6f7f8;
$textgrey: #a8b1bd;
$textgreyalt: #949ca8;
$bordergrey: #dddddd;
$bordergreyalt: #cdd1d5;
$footertext: #bebebe;
$footeractive: #999999;

.main-container {
  width: 100%;
}

.hero-image-container {
  background-image: url("../img/temp.jpg");
  width: 100%;
  height: 0;
  color: $white;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 50%;
  position: relative;
  button {
    border: solid 2px white;
    border-radius: 5px;
    height: 32px;
    width: 140px;
    font-size: 14px;
    float: right;
    background-color: transparent;
  }
}
.logo {
  float:left;
  font-size: 36px;
  font-weight: bold;
}
.hero-description {
  position: absolute;
  bottom: 20%;
  width: 50%;
  font-size: 36px;
  font-weight: 300;
}


* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin: 0;
}