.clearfix:before, .introduction-container:before, .fact-container:before, .clearfix:after, .introduction-container:after, .fact-container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.clearfix:after, .introduction-container:after, .fact-container:after {
  clear: both; }

.smallgreenline, .quick-fact-container hr, .slider-container hr, .more-info-subcontainer hr, .contact-container hr {
  width: 45px;
  border-top: 3px solid #21cccc; }

.main-container {
  width: 100%; }

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%; }

.hero-image-container {
  background-image: url("../img/hero-img-large.png");
  background-size: cover;
  width: 100%;
  color: #fff;
  background-color: transparent;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 50%;
  position: relative;
  z-index: 2; }
  .hero-image-container button {
    width: 90px;
    font-size: 12px;
    border: solid 2px white;
    border-radius: 5px;
    height: 32px;
    float: right;
    background-color: transparent; }
    @media (min-width: 600px) {
      .hero-image-container button {
        width: 140px;
        font-size: 14px; } }

.logo {
  float: left;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  z-index: 2; }
  @media (min-width: 600px) {
    .logo {
      font-size: 36px;
      line-height: 36px; } }

.hero-description {
  margin: 0;
  position: absolute;
  bottom: 20%;
  width: 75%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  z-index: 2; }
  @media (min-width: 600px) {
    .hero-description {
      width: 60%;
      font-size: 24px;
      line-height: 30px; } }
  @media (min-width: 768px) {
    .hero-description {
      font-size: 28px;
      line-height: 36px; } }
  @media (min-width: 1024px) {
    .hero-description {
      width: 50%;
      font-size: 32px;
      line-height: 42px; } }
  @media (min-width: 1440px) {
    .hero-description {
      width: 50%;
      font-size: 36px;
      line-height: 48px; } }

.introduction-container {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  background-color: #2d404f; }
  @media (min-width: 768px) {
    .introduction-container {
      padding-bottom: 250px; } }

.intro-description {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 600px) {
    .intro-description {
      width: 70%; } }
  @media (min-width: 768px) {
    .intro-description {
      width: 65%;
      padding-top: 70px;
      padding-bottom: 30px;
      font-size: 15px; } }
  @media (min-width: 1024px) {
    .intro-description {
      width: 600px;
      font-size: 18px;
      padding-top: 85px;
      padding-bottom: 40px; } }
  @media (min-width: 1440px) {
    .intro-description {
      padding-top: 100px;
      padding-bottom: 80px;
      width: 820px;
      font-size: 20px; } }

.fact-container {
  width: 100%;
  padding-bottom: 50px;
  background-color: #2d404f; }
  @media (min-width: 768px) {
    .fact-container {
      background-color: #fff;
      margin: 0 auto; } }
  @media (min-width: 1024px) {
    .fact-container {
      background-color: #fff;
      width: 920px; } }
  @media (min-width: 1440px) {
    .fact-container {
      background-color: #fff;
      width: 1244px; } }

@media (min-width: 768px) {
  .intro-facts {
    margin: 0 auto; } }

.intro-fact-container {
  width: 90%;
  margin: 20px auto;
  height: 400px;
  text-align: center;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.4);
  background-color: #fff; }
  @media (min-width: 600px) {
    .intro-fact-container {
      width: 400px; } }
  @media (min-width: 768px) {
    .intro-fact-container {
      width: 30%;
      float: left;
      display: inline-block;
      margin-right: 2.499%;
      margin-top: -200px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.4); }
      .intro-fact-container:first-child {
        margin-left: 2.499%; } }
  @media (min-width: 1024px) {
    .intro-fact-container {
      width: 300px;
      margin-right: 10px; }
      .intro-fact-container:last-child {
        margin-right: 0; }
      .intro-fact-container:first-child {
        margin-left: 0; } }
  @media (min-width: 1440px) {
    .intro-fact-container {
      width: 400px;
      margin-right: 20px; }
      .intro-fact-container:last-child {
        margin-right: 0; } }

.intro-fact-icon {
  display: block;
  padding: 50px;
  margin: 0 auto; }

.intro-fact-header {
  width: 175px;
  margin: 0 auto;
  color: #2d404f; }

.intro-fact-description {
  color: #949ca8;
  width: 250px;
  margin: 15px auto 0; }
  @media (min-width: 768px) {
    .intro-fact-description {
      width: 230px; } }
  @media (min-width: 1024px) {
    .intro-fact-description {
      width: 250px; } }

.quick-fact-container {
  text-align: center;
  margin-bottom: 100px; }
  .quick-fact-container hr {
    margin: 1em auto; }
    @media (min-width: 600px) {
      .quick-fact-container hr {
        text-align: left;
        margin-left: 0; } }
  @media (min-width: 600px) {
    .quick-fact-container {
      max-width: 900px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .quick-fact-container {
      margin-bottom: 100px; } }

.fact-box {
  margin-top: 20px;
  margin-bottom: 20px; }
  @media (min-width: 600px) {
    .fact-box p {
      margin-left: 0; } }
  @media (min-width: 600px) {
    .fact-box {
      width: 45%;
      display: inline-block;
      text-align: left; } }

.fact-description {
  width: 75%;
  margin: 0 auto 10px; }

.quick-fact-image {
  width: 100%;
  max-width: 385px; }
  @media (min-width: 600px) {
    .quick-fact-image {
      width: 45%; } }

.quick-facts-header {
  padding: 25px 12px;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  max-width: 400px; }
  @media (min-width: 768px) {
    .quick-facts-header {
      font-size: 20px;
      margin-bottom: 70px; } }

.fact-header {
  font-size: 14px; }

.motto-container {
  width: 100%;
  padding: 50px 0;
  background-color: #f9fcff; }

.motto-header {
  margin: 0 auto;
  max-width: 768px;
  padding: 50px 20px;
  text-align: center;
  font-size: 18px; }
  @media (min-width: 600px) {
    .motto-header {
      font-size: 24px;
      line-height: 30px; } }
  @media (min-width: 768px) {
    .motto-header {
      font-size: 28px;
      line-height: 36px; } }
  @media (min-width: 1024px) {
    .motto-header {
      font-size: 32px;
      line-height: 42px; } }
  @media (min-width: 1440px) {
    .motto-header {
      font-size: 36px;
      line-height: 48px; } }

.slider-container {
  width: 100%;
  padding: 50px 0;
  text-align: center; }
  .slider-container hr {
    margin: 0 auto; }

.slide-head {
  padding: 55px; }

.slider-header {
  font-size: 16px;
  max-width: 550px;
  margin: 0 auto;
  padding-bottom: 10px; }

.slider-description {
  font-size: 14px;
  color: #a8b1bd;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 10px 30px; }

.size-slider-header {
  font-size: 12px; }

#progress-bar {
  width: 100%;
  margin: 0 auto; }

#progress-bar .ui-slider-range {
  background: #21cccc; }

#progress-bar .ui-slider-handle {
  border-color: #lightgreen; }

.slider-main-container {
  padding: 20px;
  margin: 0 auto; }
  @media (min-width: 600px) {
    .slider-main-container {
      padding: 40px; } }
  @media (min-width: 768px) {
    .slider-main-container {
      padding: 60px; } }
  @media (min-width: 1024px) {
    .slider-main-container {
      max-width: 800px; } }
  @media (min-width: 1440px) {
    .slider-main-container {
      max-width: 1024px; } }

.slider-num-container {
  max-width: 225px;
  display: inline-block;
  font-size: 12px;
  padding-bottom: 10px; }
  @media (min-width: 600px) {
    .slider-num-container {
      padding-bottom: 10px; } }

.image-swipe-container {
  position: relative;
  width: 100%; }

.more-info-container {
  position: relative;
  width: 100%; }
  .more-info-container img {
    width: 100%; }

.more-info-subcontainer {
  font-size: 14px;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  letter-spacing: 1px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7); }
  @media (min-width: 600px) {
    .more-info-subcontainer {
      margin-left: 7%;
      top: 50%;
      transform: translate(0, -50%);
      width: 200px;
      height: 325px;
      padding: 20px; } }
  @media (min-width: 768px) {
    .more-info-subcontainer {
      width: 300px;
      height: 380px; } }
  @media (min-width: 1024px) {
    .more-info-subcontainer {
      padding: 30px; } }
  @media (min-width: 1440px) {
    .more-info-subcontainer {
      width: 400px;
      height: 500px;
      padding: 30px; } }
  .more-info-subcontainer hr {
    margin: 10px auto;
    text-align: left; }
    @media (min-width: 600px) {
      .more-info-subcontainer hr {
        margin-left: 10px; } }
    @media (min-width: 768px) {
      .more-info-subcontainer hr {
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px; } }

.more-info-header {
  font-size: 14px;
  padding: 0px 0px 20px;
  width: 80%; }
  @media (min-width: 600px) {
    .more-info-header {
      padding: 10px 10px 30px;
      font-size: 16px;
      padding-left: 0; } }
  @media (min-width: 768px) {
    .more-info-header {
      font-size: 20px; } }
  @media (min-width: 1024px) {
    .more-info-header {
      font-size: 24px; } }

.more-info-subheader {
  font-size: 12px; }
  @media (min-width: 600px) {
    .more-info-subheader {
      font-size: 14px; } }
  @media (min-width: 1024px) {
    .more-info-subheader {
      font-size: 15px; } }

.more-info-description {
  font-size: 12px;
  padding: 0 10px 10px 0px;
  letter-spacing: 0px;
  line-height: 1.6em; }
  @media (min-width: 600px) {
    .more-info-description {
      font-size: 12px;
      padding-left: 0; } }
  @media (min-width: 1024px) {
    .more-info-description {
      font-size: 14px;
      letter-spacing: 1px; } }
  @media (min-width: 1440px) {
    .more-info-description {
      padding-right: 60px;
      letter-spacing: 2px; } }

.contact-container {
  background-color: #2d404f;
  padding: 10px;
  padding-bottom: 100px; }
  .contact-container hr {
    margin: 10px auto 30px; }
    @media (min-width: 768px) {
      .contact-container hr {
        margin: 20px auto 50px; } }
  @media (min-width: 768px) {
    .contact-container {
      background-color: #fff;
      padding: 0;
      padding-bottom: 200px; } }

.contact-header {
  width: 100%;
  padding-top: 20px;
  background-color: #2d404f; }
  @media (min-width: 768px) {
    .contact-header {
      padding-top: 100px;
      padding-bottom: 210px; } }
  @media (min-width: 1440px) {
    .contact-header {
      padding-bottom: 310px; } }
  .contact-header h2 {
    color: #fff;
    text-align: center; }

.form-container {
  width: 100%;
  background-color: #fff;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  max-width: 400px; }
  @media (min-width: 768px) {
    .form-container {
      margin-top: -200px;
      max-width: 620px;
      padding: 25px;
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.4); } }
  @media (min-width: 1024px) {
    .form-container {
      margin-top: -200px;
      max-width: 768px;
      height: 525px;
      padding: 50px; } }
  @media (min-width: 1440px) {
    .form-container {
      margin-top: -300px;
      max-width: 1024px;
      height: 600px;
      padding: 70px; } }

.contact-description {
  margin-bottom: 10px;
  padding: 0; }
  @media (min-width: 1024px) {
    .contact-description {
      margin-bottom: 0px; } }

.contact-subhead-info {
  margin-bottom: 10px; }

.contact-info, form {
  vertical-align: top;
  padding: 10px;
  max-width: 400px; }
  @media (min-width: 768px) {
    .contact-info, form {
      width: 280px;
      display: inline-block; } }
  @media (min-width: 1440px) {
    .contact-info, form {
      width: 400px; } }

label, input {
  display: block;
  width: 100%; }

input, textarea {
  border-bottom: 2px solid #dddddd;
  border-left: 0;
  border-right: 0;
  border-top: 0; }

textarea {
  height: 100px; }

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  width: 17px;
  height: 17px;
  border: 3px solid #dddddd;
  background: #fff;
  box-shadow: none;
  display: inline-block; }

.social-icon {
  width: 30px;
  height: 25px;
  background-image: url("../img/social-icons.png");
  display: inline-block; }

.twitter-icon {
  background-position: 0 0; }

.linked-in-icon {
  background-position: 30px 0; }

.form-button-container {
  position: relative;
  margin-bottom: 20px; }
  .form-button-container button {
    position: absolute;
    left: 140px;
    bottom: -23px;
    height: 60px;
    width: 60px;
    border: none;
    background: transparent;
    padding: 0; }
    .form-button-container button img {
      width: 60px;
      height: 60px; }

.update-checkbox {
  display: inline; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

footer {
  width: 100%;
  display: block;
  padding: 50px 0;
  border-top: 2px solid #dddddd;
  background-color: #f6f7f8;
  color: #bebebe; }
  @media (min-width: 768px) {
    footer {
      padding: 50px 100px; } }
  footer span, footer a {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
