body {
    background-color: #fff;
    font-family: Campton;
}
@font-face {
    font-family: Campton;
    src: url('fonts/Campton Light.otf');
}
@font-face {
    font-family: CamptonBook;
    src: url('fonts/Campton Book.otf');
}
.form-control:focus {
    background-color: rgba(255,255,255,0.8);
    border: 0px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
}
.modal-content  {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important; 
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border: 0px;
}
.modalul {
    width: 650px;
    max-width: 90%;
    margin: 150px auto;
}
a.back-link-btn {
    background-color: #35cdcd;
    padding: 12px 40px;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    margin-top: 0px;
    text-decoration: none;
    cursor: pointer;
}
a.back-link-btn:focus,
a.back-link-btn:active,
a.back-link-btn:hover {
    font-size: 13px;
    color: #fff;
    background-color: #01BAB7;
    margin-top: 0px;
    text-decoration: none;
    cursor: pointer;
}
.back-link-btn {
    background-color: #35cdcd;
    padding: 12px 40px;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    margin-top: 0px;
    text-decoration: none;
    cursor: pointer;
    border: 0px;
}
.back-link-btn:focus,
.back-link-btn:active,
.back-link-btn:hover {
    font-size: 13px;
    color: #fff;
    background-color: #01BAB7;
    margin-top: 0px;
    text-decoration: none;
    cursor: pointer;
    border: 0px;
}
#m-a {
    background-color: #2e3f50;
    color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 0px;
}
#m-aa {
    display: flex;
}
#m-a-1 {
    font-size: 18px;
/*     font-family: CamptonBook; */
    padding: 20px 0px 10px 50px; 
    text-align: left;
    width: 80%;
}
#m-a-2 {
    font-size: 20px;
    text-align: right;
    width: 20%;
    padding: 17px 50px 0px 0px; 
}
#m-b {
    padding: 50px;
}
#m-b-1 {
    font-family: CamptonBook;
    font-size: 22px;
    color: #000;
}
#m-b-2 {
    width: 100%;
    padding: 30px 0px;
}
#m-b-2-1 {
    background-color: #dddddd;
    height: 2px;
    width: 100%;
}
#m-b-2 {
    width: 100%;
    padding: 20px 0px;
}
#m-b-3 {
    width: 100%;
}
#m-b-3-1 {
    display: flex;
}
#m-b-3-1-a {
    width: 50%;
    padding-right: 15px;
}
#m-b-3-1-b {
    padding-left: 15px;
    width: 50%;
}
#m-b-4 {
    width: 100%;
    padding: 30px 0px;
}
#m-b-5 {
    display: flex;
}
#m-b-5-a {
    width: 50%;
}
#m-b-5-b {
    width: 50%;
    text-align: right;
}
#m-b-1-s {
    font-family: CamptonBook;
    font-size: 22px;
    color: #000;
    text-align: center;
}
#m-b-2-s {
    width: 40px;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
    text-align: center;
}
#m-b-2-s-pic {
    width: 40px;
    padding-top: 30px;
}
#m-b-5-s {
    text-align: right;
}
#m-b-2-s {
    width: 100%;
    padding: 0px 0px 30px 0px;
}
#m-b-4-s {
    width: 100%;
    padding: 70px 0px 50px 0px;
}


.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto; 
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/* header */
header {
    background-color: #35cdcd;
    margin-bottom: 100px;
}
#header-content {
    padding: 20px 3%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
#logo-img {
    max-width: 150px;
}
a.header-link {
    font-size: 13px;
    color: #fff;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: none;
}
a.header-link:focus,
a.header-link:active,
a.header-link:hover {
    font-size: 13px;
    color: #e2e2e2;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: none;
}
a.hl-active {
    color: #e2e2e2;
}
a.header-link-btn {
    background-color: #2e3f50;
    padding: 12px 40px;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    margin-top: 0px;
    text-decoration: none;
}
a.header-link-btn:focus,
a.header-link-btn:active,
a.header-link-btn:hover {
    font-size: 13px;
    color: #fff;
    background-color: #49616e;
    margin-top: 0px;
    text-decoration: none;
}
.menu-space {
    display: inline-block;
    padding-left: 25px;
}
#menu-mobile {
    display: none;
}
/* end header */

/*section-1*/
#section-1 {
    font-family: Campton;
    background-image: url(img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px;
    padding-bottom: 200px;
}
#section-1-content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 3%;
}
#section-1-a {
    font-family: Campton;
    background-image: none;
    padding: 0px;
    padding-bottom: 0px;
}
#s1-both {
    display: flex;
}
#s1-left-side {
    width: 100%;
    padding: 0px 0px;
}
#s1-l-1 {
    border-bottom: 2px solid #35cdcd; 
    padding-bottom: 10px; 
    color: #35cdcd; 
    font-size: 18px; 
}
#s1-l-2 {   
    display: initial;
    width: 100%;
}
#s1-l-2-a {
    width: 80%;
}
#s1-l-2-a-1 {
    font-size: 40px;
    font-family: CamptonBook; 
    color: #2e3f50;
}
#s1-l-2-a-2 {
    font-size: 25px;
    margin-bottom: 30px;
}
#s1-l-2-a-3 {
    padding-bottom: 40px;
}
#s1-l-2-a-3-1 {
    width: 80px;
    height: 2px;
    background-color: #000;
}
#s1-l-2-a-4 {
    font-size: 18px;
    max-width: 600px;
}
#s1-l-2-b {
    color: #2e3f50; 
    font-size: 50px; 
    padding-top: 10px; 
    text-align: right;
    width: 20%;
}
#s1-right-side {
    width: 100%;
}
#s1-r-1 {
    color: #fff; 
    font-size: 30px; 
    font-weight: 500; 
    background-color: #2e3f50;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    padding: 10px 20px 6px 50px;
}
#s1-r-2 {   
    background-color:rgba(255,255,255,0.6);
    padding: 20px 50px 20px 50px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
}
#s1-r-2-1 {
    padding: 50px 0px;
}
#s1-r-2-1-1 {
    text-align: right;
}
#s1-play-mobile {
    display: none;
}
.sign-up-btn {
    text-transform: uppercase;
    background-color: #35CDCD;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 3px;
}

.sign-up-btn:hover,
.sign-up-btn:focus {
    background-color: #30b8b8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.sign-up-input {
    border: 0px solid #000;
    border-bottom: 2px solid #3a4a5a;
    border-radius: 0px;
    padding: 10px 0px;
    width: 100% !important;
    background-color: transparent !important;

}
#show-video:hover,
#show-video:focus {
    color: #49616F;
    -moz-transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}
/* end section-1 */

/* section-7 */
#section-7 {
    width: 100%;
    max-width: 1200px;
    padding: 100px 3%;
    margin: 0 auto;
}
#s7-1 {
    display: flex;
}
#s7-1-a {
    width: 50%;
}
#s7-1-a-1 {
    font-family: CamptonBook;
    font-size: 22px;
    padding-bottom: 20px;
}
#s7-1-a-2-1 {
    width: 50px;
    height: 2px;
    background-color: #35cdcd;
    margin-bottom: 40px;
}
#s7-1-a-3 {
    padding-right: 30px;
}

#s7-1-b {
    width: 50%;
    text-align: right;
}
#s7-1-0 {
    display: none;
}
/* end section-7 */

/* section-2 */
#section-2-mobile {
    display: none;
}
#section-2-first {
    max-width: 1000px;  
    margin: 0 auto;
    display: flex;
}
#section-2 {
    background-color: #2e3f50;
    padding: 100px 0px;
}
#section-2-1 {
    display: flex;
    width: 500px;
}
#section-2-2 {
    width: 500px;
    float: right;
}
.slider-circle {
    font-size: 15px;
    color: #626f7b;
}
.slider-circle:hover {
    color: #caced3;
    cursor: pointer;
}
.circle-active {
    color: #caced3;
}
.slider-controllers {
    padding-bottom: 3px;
}
.slider-title {
    font-size: 22px;
    font-family: CamptonBook;
    padding-bottom: 5px;
    color: #999999;
}
.slider-text {
    font-size: 15px;
    max-width: 330px;
    color: #999999;
}
.slider-title-active {
    font-size: 22px;
    font-family: CamptonBook;
    padding-bottom: 5px;
    color: #35cdcd;
}
.slider-text-active {
    font-size: 15px;
    max-width: 330px;
    color: #fff;
}
.hidden-pic {
    display: none;
}
.sl-space {
    padding-bottom: 35px;
}
.learn-more-btn {
    text-transform: uppercase;
    background-color: #35CDCD;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 3px;
}
.learn-more-btn:hover,
.learn-more-btn:focus {
    background-color: #30b8b8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
/* end section-2 */

.learn-more-link,
.learn-more-link:hover,
.learn-more-link:focus {
    color: #35cdcd;
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
    font-size: 17px;
}

/* section-3 */

#section-3 {
    background-color: #f8f8f8; 
    padding: 100px 0px;
}
#section-3-1 {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 3%;
}
.section-3-1-a {
    width: 33%;
    text-align: center;
}
.section-3-1-a-1 {
    padding-bottom: 30px;
    min-height: 100px;
}
.section-3-icon {
    max-width: 60px;
}
.section-3-1-a-2 {
    font-size: 22px;
    max-width: 300px;
    margin: 0 auto;
    min-height: 150px;
}
.s3-btn {
    text-transform: uppercase;
    background-color: #35CDCD;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    padding: 12px 50px;
    border-radius: 3px;
}
.s3-btn:hover,
.s3-btn:focus {
    background-color: #30b8b8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
/* end section-3 */

/* section-4 */
#section-4 {
    font-family: Campton;
    background-image: url(img/trusted-resources-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#section-4-content {
    max-width: 1200px;
    margin: 0 auto;
}
#section-4-1 {
    padding-right: 600px;
    padding-bottom: 100px;
    padding-top: 100px;
}
#section-4-a {
    font-size: 22px;
    padding-bottom: 20px;
}
#section-4-b {
    background-color: rgba(255,255,255,0.8);
    padding: 40px;
    border-radius: 3px;
}
#section-4-b-1 {
    font-size: 30px;
    font-family: CamptonBook;
    color: #2e3f50;
    padding-bottom: 15px;
}
#section-4-2 { 
    font-size: 19px; 
    padding-bottom: 40px;
}

#section-4-mobile {
    display: none;
}
/* end section-4 */

/* section-5 */
#section-5-1 {
    display: flex;
    padding: 0px ;
}
#section-5-1-1 {
    min-width: 50%;
    background-color: #fff;
    padding: 50px 0px;
}
#section-5-1-1-a {
    max-width: 600px; 
    float: right;
    padding-left: 3%;
}
#section-5-1-1-a-1 {
    font-size: 32px;
    font-family: CamptonBook; 
    padding-bottom: 30px;
    color: #2e3f50;
}
#section-5-1-1-a-2 {
    display: flex;
}
.section-5-1-1-a-2-1 {
    padding-right: 20px;
}
.section-5-1-1-a-photo {
    width: 70px;
}
.section-5-1-1-a-2-2-a {
    color: #2e3f50;
    font-size: 25px; 
    font-family: CamptonBook;
    padding-bottom: 10px;
}
.section-5-1-1-a-2-2-b {
    padding-right: 20px;
    font-size: 17px;
}
#section-5-1-1-a-3 {
    display: flex;
    padding-top: 50px;
}
#section-5-1-2 {
    min-width: 50%;
    background-color: #495a70;
}
#section-5-1-2-1 {
    max-width: 600px; 
    float: left;
    padding: 50px;
}
#section-5-1-2-1-a {
    text-align: center;
}
#section-5-1-2-1-a-photo {
    max-width: 100%;
}
#section-5-1-2-1-b {
    font-size: 17px; 
    padding-top: 50px; 
    color: #fff;
}
#section-5-1-2-1-c {
    padding-top: 20px;
}
/* end section-5 */

/* section-6 */
#section-6 {
    max-width: 1200px;
    padding: 100px 0px;
    margin: 0 auto;
}
#section-6-a {
    display: flex; 
    padding: 0px 20px 50px 10px;
}
#section-6-a-1 {
    width: 50%;
    font-size: 33px;
    font-family: CamptonBook; 
    color: #2e3f50;
}
#section-6-a-2 {
    text-align: right;
    width: 50%;
}
#section-6-b {
    display: flex;
}
.section-6-b-1 {
    width: 33%;
    padding: 0px 15px;
}
.section-6-b-1-photo {
    width: 100%; 
    border-radius: 3px;
}
.section-6-b-1-b {
    color: #9b9b9b; 
    font-size: 13px;
    padding: 30px 0px 15px 0px;
}
.section-6-b-1-c {
    border-top: 2px solid #2e3f50; 
    padding: 20px 0px 0px 0px; 
    font-size: 22px; 
    font-family: CamptonBook;
    min-height: 100px;
}
.section-6-b-1-d {
    font-size:  17px;
}
/* end section-6 */

/*  footer  */
footer {
    background-color: #2e3f50;
}
#footer-id {
    max-width: 1200px;
    margin: 0 auto;
}
a.a-link,
a.a-link:focus,
a.a-link:active,
a.a-link:hover {
    font-size: 13px;
    color: #fff;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: none;
}
#footer-mobile {
    display: none;
}
/*  end footer  */

@media screen and (min-width: 900px) and (max-width: 1200px) {
#section-1-content {
    padding-left: 30px;
    padding-right: 30px; 
    padding-top: 0px;
}
#section-1 {
    background-position: top center;
}
#section-4-1 {
    padding-right: 30px;
    padding-left: 50%;
}
#section-4-b {
    padding-bottom: 30px;
}

footer {
    padding-left: 30px;
    padding-right: 30px;
}


}

@media screen and (min-width: 750px) and (max-width: 900px) {
#section-3 {
    background-color: #f8f8f8; 
    padding: 100px 0px;
}
#section-3-1 {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 3%;
}
.section-3-1-a {
    width: 33%;
    text-align: center;
}
.section-3-1-a-1 {
    padding-bottom: 30px;
    min-height: 70px;
}
.section-3-icon {
    max-width: 40px;
}
.section-3-1-a-2 {
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto;
    min-height: 100px;
}
.s3-btn {
    text-transform: uppercase;
    background-color: #35CDCD;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    padding: 12px 30px;
    border-radius: 3px;
}
.s3-btn:hover,
.s3-btn:focus {
    background-color: #30b8b8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

/* section-4 */
#section-4-content {
    width: 100%;
    padding: 0px 3%;
}
#section-4-1 {
    padding: 100px 3%;
}
#section-4-b-1 {
    font-size: 35px;
}
#section-4-2 { 
    font-size: 19px; 
    padding-bottom: 40px;
}
/* end section-4 */
.section-6-b-1-c {
    border-top: 2px solid #2e3f50; 
    padding: 20px 0px 10px 0px; 
    font-size: 20px; 
    font-family: CamptonBook;
}
.section-6-b-1-d {
    font-size:  14px;
}
#section-6-a-1 {
    font-size: 22px;
}
  /* section-5 */
#section-5-1 {
    display: initial;
}
#section-5-1-1 {
    min-width: 100%;
    background-color: #fff;
    padding: 50px 0px;
    text-align: center;
}
#section-5-1-1-a {
    max-width: 85%; 
    margin: 0 auto;
    float: none;
}
#section-5-1-1-a-1 {
    font-size: 22px;
    font-family: CamptonBook; 
    padding-bottom: 30px;
    color: #2e3f50;
}
#section-5-1-1-a-2 {
    display: initial;
}
.section-5-1-1-a-2-1 {
    padding-right: 0px;
    padding-bottom: 15px;
    text-align: center;
}
.section-5-1-1-a-photo {
    width: 70px;
}
.section-5-1-1-a-2-2-a {
    color: #2e3f50;
    font-size: 20px; 
    font-family: CamptonBook;
    padding-bottom: 10px;
}
.section-5-1-1-a-2-2-b {
    padding-right: 0px;
    font-size: 17px;
}
#section-5-1-1-a-3 {
    display: block;
    padding-top: 50px;
}
#section-5-1-2 {
    min-width: 100%;
    background-color: #495a70;
}
#section-5-1-2-1 {
    max-width: 100%; 
    float: none;
    padding: 0px;
}
#section-5-1-2-1-a {
    text-align: center;
}
#section-5-1-2-1-a-photo {
    max-width: 100%;
}
#section-5-1-2-1-b {
    font-size: 15px; 
    padding-top: 30px; 
    color: #fff;
    padding-left: 8%;
    padding-right: 8%;
}
#section-5-1-2-1-c {
    padding-top: 15px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 50px;
}
/* end section-5 */
#section-2 {
    display: none;
}
#section-2-mobile {
    display: initial;
    padding-bottom: 50px;
    background-color: #2e3f50 !important;
}
/* section-7 */
#section-7 {
    max-width: 100%;
    padding: 40px 8%;
}
#s7-1 {
    display: initial;
}
#s7-1-a {
    width: 100%;
    padding-top: 30px;
}
#s7-1-0 { 
    width: 500px;
    margin: 0 auto; 
    display: initial;
    text-align: center;
}
#s7-1-b {
    display: none;
}
#s7-1-a-1 {
    font-family: CamptonBook;
    font-size: 22px;
    padding-bottom: 10px;
    text-align: center;
}
#s7-1-a-2 {
    width: 50px;
    margin: 0 auto;
}
#s7-1-a-2-1 {
    width: 50px;
    height: 2px;
    background-color: #35cdcd;
    margin-bottom: 20px;
}
#s7-1-a-3 {
    padding-right: 0px;
    text-align: center;
}
/* end section-7 */
#s1-l-2-a {
    padding: 0px;
    width: 100%;
}
#s1-l-2-a-1 {
    text-align: center;
    padding: 0px;
    font-size: 33px;
}
#s1-l-2-a-2 {
    font-size: 20px;
    text-align: center;
}
#s1-l-2-a-3 {
    width: 80px;
    margin: 0 auto;
}
#s1-l-2-a-4 {
    text-align: center;
    margin: 0 auto;
}

}
@media screen and (min-width: 900px) and (max-width: 1050px) {
#section-2-dots {
    display: none;
}
#section-2-1 {
    padding-left: 30px;
}
/* section-7 */
#section-7 {
    max-width: 100%;
    padding: 40px 8%;
}
#s7-1 {
    display: initial;
}
#s7-1-a {
    width: 100%;
    padding-top: 30px;
}
#s7-1-0 { 
    width: 500px;
    margin: 0 auto; 
    display: initial;
    text-align: center;
}
#s7-1-b {
    display: none;
}
#s7-1-a-1 {
    font-family: CamptonBook;
    font-size: 22px;
    padding-bottom: 10px;
    text-align: center;
}
#s7-1-a-2 {
    width: 50px;
    margin: 0 auto;
}
#s7-1-a-2-1 {
    width: 50px;
    height: 2px;
    background-color: #35cdcd;
    margin-bottom: 20px;
}
#s7-1-a-3 {
    padding-right: 0px;
    text-align: center;
}
/* end section-7 */

}

@media screen and (min-width: 500px) and (max-width: 750px) {
#section-1-content {
    padding-top: 100px;
}
/* section-4 */
#section-4-content {
    width: 100%;
    padding: 0px 3%;
}
#section-4-1 {
    padding: 100px 3%;
}
#section-4-b-1 {
    font-size: 28px;
}
#section-4-2 { 
    font-size: 17px; 
    padding-bottom: 40px;
}
/* end section-4 */
#section-3 {
    background-color: #f8f8f8; 
    padding: 100px 0px;
}
#section-3-1 {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 3%;
}
.section-3-1-a {
    width: 33%;
    text-align: center;
}
.section-3-1-a-1 {
    padding-bottom: 30px;
    min-height: 70px;
}
.section-3-icon {
    max-width: 40px;
}
.section-3-1-a-2 {
    font-size: 16px;
    max-width: 250px;
    margin: 0 auto;
    min-height: 140px;
}
.s3-btn {
    text-transform: uppercase;
    background-color: #35CDCD;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    padding: 12px 30px;
    border-radius: 3px;
}
.s3-btn:hover,
.s3-btn:focus {
    background-color: #30b8b8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
#menu-id {
    display: none;
}
#header-content {
    padding: 10px 0px 10px 25px;
}
#logo-img {
    max-width: 100px;
}
#menu-mobile {
    display: initial;
}
header {
    margin-bottom: 0px;
}
.menu-space {
    display: block;
    padding-left: 0px;
    text-align: center;
    padding-bottom: 50px;
}
.hide-mobile {
  display: none;
}
/* section-6 */
#section-6 {
    max-width: 100%;
    padding: 50px 0px;
    margin: 0 auto;
}
#section-6-a {
    display: initial; 
    padding: 0px;
}
#section-6-a-1 {
    text-align: center;
    width: 100%;
    font-size: 22px;
    font-family: CamptonBook; 
    color: #2e3f50;
    padding-bottom: 10px;
}
#section-6-a-2 {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}
#section-6-b {
    display: initial;
}
.section-6-b-1 {
    width: 100%;
    padding: 0% 8%;
}
.section-6-b-1-photo {
    width: 100%; 
    border-radius: 3px;
}
.section-6-b-1-b {
    color: #9b9b9b; 
    font-size: 13px;
    padding: 30px 0px 15px 0px;
}
.section-6-b-1-c {
    border-top: 2px solid #2e3f50; 
    padding: 20px 0px 10px 0px; 
    font-size: 20px; 
    font-family: CamptonBook;
}
.section-6-b-1-d {
    font-size:  16px;
}
#section-2 {
    display: none;
}
#section-2-mobile {
    display: initial;
    padding-bottom: 50px;
    background-color: #2e3f50 !important;
}
footer {
    display: none;
}
#footer-mobile {
    display: initial;
}
/*section-1*/
#s1-both {
    display: initial;
}
#s1-left-side {
    width: 100%;
    padding: 30px 0px;
}
#s1-l-1 {
    border-bottom: 2px solid #35cdcd; 
    padding-bottom: 10px; 
    color: #35cdcd; 
    font-size: 18px; 
    margin-right: 0px;
    text-align: center;
}
#s1-l-2 {   
    display: initial;
    width: 100%;
    padding-right: 0px;
}
#s1-l-2-a {
    width: 100%;
}
#s1-l-2-a-1 {
    font-size: 28px;
    font-family: CamptonBook; 
    color: #2e3f50;
    padding-top: 10px;
    text-align: center;
}
#s1-l-2-a-2 {
    font-size: 18px;
    margin-top: 0px;
    text-align: center;
}
#s1-l-2-b {
    color: #2e3f50; 
    font-size: 50px; 
    padding-top: 10px; 
    text-align: center;
    width: 100%;
}
#s1-right-side {
    width: 100%;
}
#s1-r-1 {
    color: #fff; 
    font-size: 30px; 
    font-weight: 500; 
    background-color: #2e3f50;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    padding: 10px 20px 6px 50px;
}
#s1-r-2 {   
    background-color:rgba(255,255,255,0.6);
    padding: 20px 50px 20px 50px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
}
#s1-r-2-1 {
    padding: 50px 0px;
}
#s1-r-2-1-1 {
    text-align: right;
}
/* end section-1 */
  /* section-5 */
#section-5-1 {
    display: initial;
}
#section-5-1-1 {
    min-width: 100%;
    background-color: #fff;
    padding: 50px 0px;
    text-align: center;
}
#section-5-1-1-a {
    max-width: 85%; 
    margin: 0 auto;
    float: none;
}
#section-5-1-1-a-1 {
    font-size: 22px;
    font-family: CamptonBook; 
    padding-bottom: 30px;
    color: #2e3f50;
}
#section-5-1-1-a-2 {
    display: initial;
}
.section-5-1-1-a-2-1 {
    padding-right: 0px;
    padding-bottom: 15px;
    text-align: center;
}
.section-5-1-1-a-photo {
    width: 70px;
}
.section-5-1-1-a-2-2-a {
    color: #2e3f50;
    font-size: 20px; 
    font-family: CamptonBook;
    padding-bottom: 10px;
}
.section-5-1-1-a-2-2-b {
    padding-right: 0px;
    font-size: 17px;
}
#section-5-1-1-a-3 {
    display: block;
    padding-top: 50px;
}
#section-5-1-2 {
    min-width: 100%;
    background-color: #495a70;
}
#section-5-1-2-1 {
    max-width: 100%; 
    float: none;
    padding: 0px;
}
#section-5-1-2-1-a {
    text-align: center;
}
#section-5-1-2-1-a-photo {
    max-width: 100%;
}
#section-5-1-2-1-b {
    font-size: 15px; 
    padding-top: 30px; 
    color: #fff;
    padding-left: 8%;
    padding-right: 8%;
}
#section-5-1-2-1-c {
    padding-top: 15px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 50px;
}
/* end section-5 */
/* section-7 */
#section-7 {
    max-width: 100%;
    padding: 40px 8%;
}
#s7-1 {
    display: initial;
}
#s7-1-a {
    width: 100%;
    padding-top: 30px;
}
#s7-1-0 { 
    width: 500px;
    margin: 0 auto; 
    display: initial;
    text-align: center;
}
#s7-1-b {
    display: none;
}
#s7-1-a-1 {
    font-family: CamptonBook;
    font-size: 22px;
    padding-bottom: 10px;
    text-align: center;
}
#s7-1-a-2 {
    width: 50px;
    margin: 0 auto;
}
#s7-1-a-2-1 {
    width: 50px;
    height: 2px;
    background-color: #35cdcd;
    margin-bottom: 20px;
}
#s7-1-a-3 {
    padding-right: 0px;
    text-align: center;
}
#s1-l-2-a {
    padding: 0px;
    width: 100%;
}
#s1-l-2-a-1 {
    text-align: center;
    padding: 0px;
    font-size: 33px;
}
#s1-l-2-a-2 {
    font-size: 20px;
    text-align: center;
}
#s1-l-2-a-3 {
    width: 80px;
    margin: 0 auto;
}
#s1-l-2-a-4 {
    text-align: center;
    margin: 0 auto;
}
/* end section-7 */

}
@media screen and (max-width: 500px) {
#menu-id {
    display: none;
}
#header-content {
    padding: 10px 0px 10px 25px;
}
#logo-img {
    max-width: 70px;
    padding-top: 5px;
}
#menu-mobile {
    display: initial;
}
header {
    margin-bottom: 0px;
}
/*section-1*/
#section-1 {
    background-image: none;
    padding-bottom:  50px;
}
#section-1-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
}
#s1-both {
    display: initial;
}
#s1-left-side {
    width: 100%;
    background-image: url(img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 120px;
    padding-top: 50px;
}
#s1-l-1 {
    border-bottom: 2px solid #35cdcd; 
    padding-bottom: 5px; 
    color: #35cdcd; 
    font-size: 13px; 
    margin-right: 0px;
    text-align: center;
    padding-top: 30px;
    margin-right: 8%;
    margin-left:  8%;
    font-family: CamptonBook;
}
#s1-l-2 {   
    display: initial;
    width: 100%;
    padding-right: 40px;
}
#s1-l-2-a {
    width: 100%;
}
#s1-l-2-a-1 {
    font-size: 24px;
    font-family: CamptonBook; 
    color: #2e3f50;
    padding-top: 0px;
    text-align: center;
}
#s1-l-2-a-2 {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}
#s1-l-2-a-3 {
    margin: 0 auto;
    width: 80px;
}
#s1-l-2-a-4 {
    margin: 0 auto;
    text-align: center;
}
#s1-l-2-b {
    color: #2e3f50; 
    font-size: 50px; 
    padding-top: 10px; 
    text-align: center;
    width: 100%;
}
#s1-right-side {
    width: 100%;
}
#s1-r-1 {
    color: #2e3f50; 
    font-size: 24px; 
    font-family: CamptonBook;
    background-color: #fff;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    padding:50px 0px 0px 0px;
    text-align: center;
}
#s1-r-2 {   
    background-color:rgba(255,255,255,0.6);
    padding: 0px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
}
#s1-r-2-1 {
    padding: 20px 8%;
}
#s1-r-2-1-1 {
    text-align: center;
}
.sign-up-btn {
    text-transform: uppercase;
    background-color: #35CDCD;
    color: #fff;
    border-width: 0px;
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 3px;
}

.sign-up-btn:hover,
.sign-up-btn:focus {
    background-color: #30b8b8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.sign-up-input {
    border: 0px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 0px;
    padding: 10px 0px;
    width: 100% !important;
    background-color: transparent !important;
}
#s1-play {
    display: none;
}
#s1-play-mobile {
    display: initial;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
  text-align: left;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
  text-align: left;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
  text-align: left;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
  text-align: left;
}
#section-2 {
    display: none;
}
#section-2-mobile {
    display: initial;
    padding-bottom: 50px;
    background-color: #2e3f50 !important;
}
#section-3 {
    padding: 60px 0px;
}
#section-3-1 {
    max-width: 90%;
}
.section-3-1-a-1 {
    padding-bottom: 0px;
    min-height: 50px;
}
.section-3-icon {
    max-width: 30px;
}
.section-3-1-a-2 {
    font-size: 12px;
    min-height: 80px;
}
.s3-btn {
    background-color: #f8f8f8;
    color: #35CDCD;
    font-size: 12px;
    padding: 2px 10px;
}
.s3-btn:hover,
.s3-btn:focus {
    color: #30b8b8;
    background-color: #f8f8f8;
}
#section-4 {
    display: none;
}
#section-4-mobile {
    display: initial;
    background-color: #fff;
    width: 100%;
}
#section-4-mobile-content {
    padding: 40px 0px;
    color: #000;
    background-color: #fff;
}
#section-4-mc-1 {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}
#section-4-mobile-2 {
    background-image: url(img/trusted-resources-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 120px 0px;
    background-color: #2e3f50;
}
#section-4-mobile-3 {
    background-color: #f8f8f8;
    padding: 50px 0px;
}
#section-4-mobile-5 {
    font-size: 24px;
    max-width: 250px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0px;
}
.call-me-btn {
    text-transform: uppercase;
    background-color: #2e3f50;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 3px;
    opacity: 1;
}
.call-me-btn:hover,
.call-me-btn:focus {
    background-color: #2e3f50;
    color: #fff;
    cursor: pointer;
}
/* section-5 */
#section-5-1 {
    display: initial;
}
#section-5-1-1 {
    min-width: 100%;
    background-color: #fff;
    padding: 50px 0px;
    text-align: center;
}
#section-5-1-1-a {
    max-width: 85%; 
    margin: 0 auto;
    float: none;
}
#section-5-1-1-a-1 {
    font-size: 22px;
    font-family: CamptonBook; 
    padding-bottom: 30px;
    color: #2e3f50;
}
#section-5-1-1-a-2 {
    display: initial;
}
.section-5-1-1-a-2-1 {
    padding-right: 0px;
    padding-bottom: 15px;
    text-align: center;
}
.section-5-1-1-a-photo {
    width: 70px;
}
.section-5-1-1-a-2-2-a {
    color: #2e3f50;
    font-size: 20px; 
    font-family: CamptonBook;
    padding-bottom: 10px;
}
.section-5-1-1-a-2-2-b {
    padding-right: 0px;
    font-size: 17px;
}
#section-5-1-1-a-3 {
    display: block;
    padding-top: 50px;
}
#section-5-1-2 {
    min-width: 100%;
    background-color: #495a70;
}
#section-5-1-2-1 {
    max-width: 100%; 
    float: none;
    padding: 0px;
}
#section-5-1-2-1-a {
    text-align: center;
}
#section-5-1-2-1-a-photo {
    max-width: 100%;
}
#section-5-1-2-1-b {
    font-size: 15px; 
    padding-top: 30px; 
    color: #fff;
    padding-left: 8%;
    padding-right: 8%;
}
#section-5-1-2-1-c {
    padding-top: 15px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 50px;
}
/* end section-5 */
/* section-6 */
#section-6 {
    max-width: 100%;
    padding: 50px 0px;
    margin: 0 auto;
}
#section-6-a {
    display: initial; 
    padding: 0px;
}
#section-6-a-1 {
    text-align: center;
    width: 100%;
    font-size: 22px;
    font-family: CamptonBook; 
    color: #2e3f50;
    padding-bottom: 10px;
}
#section-6-a-2 {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}
#section-6-b {
    display: initial;
}
.section-6-b-1 {
    width: 100%;
    padding: 0% 8%;
}
.section-6-b-1-photo {
    width: 100%; 
    border-radius: 3px;
}
.section-6-b-1-b {
    color: #9b9b9b; 
    font-size: 13px;
    padding: 30px 0px 15px 0px;
}
.section-6-b-1-c {
    border-top: 2px solid #2e3f50; 
    padding: 20px 0px 10px 0px; 
    font-size: 20px; 
    font-family: CamptonBook;
}
.section-6-b-1-d {
    font-size:  16px;
}
.hide-mobile {
    display: none;
}
/* end section-6 */

footer {
  display: none;
}
#footer-mobile {
    display: initial;
}
a.a-link,
a.a-link:focus,
a.a-link:active,
a.a-link:hover {
    font-size: 13px;

}
#mobile-menu-content {
    min-width: 100%;
    min-height: 100%;
    background-color: #35cdcd;
}
a.header-link {
    font-size: 14px;
    color: #fff;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: none;
}
a.header-link:focus,
a.header-link:active,
a.header-link:hover {
    font-size: 14px;
    color: #fff;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: none;
}
a.hl-active {
    color: #fff;
}
a.header-link-btn {
    background-color: #2e3f50;
    padding: 15px 50px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    margin-top: 0px;
    text-decoration: none;
}
a.header-link-btn:focus,
a.header-link-btn:active,
a.header-link-btn:hover {
    font-size: 14px;
    color: #fff;
    background-color: #2e3f50;
    margin-top: 0px;
    text-decoration: none;
}
.menu-space {
    display: block;
    padding-left: 0px;
    text-align: center;
    padding-bottom: 50px;
}
.modal-content  {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important; 
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border: 0px;
}
.modalul {
    width: 650px;
    max-width: 90%;
    margin: 50px auto;
}
a.back-link-btn {
    background-color: #35cdcd;
    padding: 12px 40px;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    margin-top: 0px;
    text-decoration: none;
    cursor: pointer;
}
a.back-link-btn:focus,
a.back-link-btn:active,
a.back-link-btn:hover {
    font-size: 13px;
    color: #fff;
    background-color: #01BAB7;
    margin-top: 0px;
    text-decoration: none;
    cursor: pointer;
}
.back-link-btn {
    background-color: #35cdcd;
    padding: 12px 40px;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    margin-top: 0px;
    text-decoration: none;
    cursor: pointer;
    border: 0px;
}
.back-link-btn:focus,
.back-link-btn:active,
.back-link-btn:hover {
    font-size: 13px;
    color: #fff;
    background-color: #01BAB7;
    margin-top: 0px;
    text-decoration: none;
    cursor: pointer;
}
#m-a {
    background-color: #2e3f50;
    color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 0px;
}
#m-aa {
    display: flex;
}
#m-a-1 {
    font-size: 14px;
/*     font-family: CamptonBook; */
    padding: 20px 0px 10px 20px; 
    text-align: left;
    width: 80%;
}
#m-a-2 {
    font-size: 20px;
    text-align: right;
    width: 20%;
    padding: 13px 20px 0px 0px; 
}
#m-b {
    padding: 30px;
}
#m-b-1 {
    font-family: CamptonBook;
    font-size: 19px;
    color: #000;
    text-align: center;
}
#m-b-2 {
    width: 100%;
    padding: 30px 0px;
}
#m-b-2-1 {
    background-color: #dddddd;
    height: 2px;
    width: 100%;
}
#m-b-2 {
    width: 100%;
    padding: 20px 0px;
}
#m-b-3 {
    width: 100%;
}
#m-b-3-1 {
    display: initial;
}
#m-b-3-1-a {
    width: 100%;
    padding-right: 0px;
}
#m-b-3-1-b {
    padding-left: 0px;
    width: 100%;
}
#m-b-4 {
    width: 100%;
    padding: 30px 0px;
}
#m-b-5 {
    display: initial;
}
#m-b-5-a {
    width: 100%;
}
#m-b-5-b {
    width: 100%;
    text-align: right;
}
#m-b-1-s {
    font-family: CamptonBook;
    font-size: 19px;
    color: #000;
    text-align: center;
}
#m-b-2-s {
    width: 40px;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
    text-align: center;
}
#m-b-2-s-pic {
    width: 40px;
    padding-top: 30px;
}
#m-b-5-s {
    text-align: right;
}
#m-b-2-s {
    width: 100%;
    padding: 0px 0px 30px 0px;
}
#m-b-4-s {
    width: 100%;
    padding: 70px 0px 50px 0px;
}
/* section-7 */
#section-7 {
    max-width: 100%;
    padding: 40px 8%;
}
#s7-1 {
    display: initial;
}
#s7-1-a {
    width: 100%;
    padding-top: 30px;
}
#s7-1-0 { 
    width: 500px;
    margin: 0 auto; 
    display: initial;
    text-align: center;
}
#s7-1-b {
    display: none;
}
#s7-1-a-1 {
    font-family: CamptonBook;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
}
#s7-1-a-2 {
    width: 80px;
    margin: 0 auto;
}
#s7-1-a-2-1 {
    width: 80px;
    height: 2px;
    background-color: #35cdcd;
    margin-bottom: 20px;
}
#s7-1-a-3 {
    padding-right: 0px;
    text-align: center;
}
/* end section-7 */

}
