body {
    background-color: #fff;
    font-family: Campton;
}
@font-face {
    font-family: Campton;
    src: url('../fonts/Campton Light.otf');
}
@font-face {
    font-family: CamptonBook;
    src: url('../fonts/Campton Book.otf');
}
.form-control:focus {
    background-color: rgba(255,255,255,0.8);
    border: 0px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
}

/* header */
header {
    background-color: #4d5f6f;
    margin-bottom: 100px;
}
#header-content {
    padding: 20px 0px;
    max-width: 1200px;
    margin: 0 auto;
}
#logo-img {
    max-width: 250px;
}
a.header-link {
    font-size: 13px;
    color: #fff;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: none;
}
a.header-link:focus,
a.header-link:active,
a.header-link:hover {
    font-size: 13px;
    color: #35cdcd;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: none;
}
a.hl-active {
    color: #35cdcd;
}
a.header-link-btn {
    background-color: #35cdcd;
    padding: 16px 40px;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    margin-top: 0px;
    text-decoration: none;
}
a.header-link-btn:focus,
a.header-link-btn:active,
a.header-link-btn:hover {
    font-size: 13px;
    color: #fff;
    background-color: #01BAB7;
    margin-top: 0px;
    text-decoration: none;
}
.menu-space {
    display: inline-block;
    padding-left: 25px;
}
#menu-mobile {
    display: none;
}
/* end header */

/*section-1*/
#section-1 {
    font-family: Campton;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px;
    padding-bottom: 100px;
}
#section-1-content {
    max-width: 1200px;
    margin: 0 auto;
}
#section-1-1 {
    font-size: 35px;
    font-family: CamptonBook; 
    color: #2e3f50;
}
#section-1-2 {
    font-size: 18px;
    margin-top: -10px;
}
#section-1-3 {
    border-top: 1px solid #000;
    width: 80px;
    padding-bottom: 40px;
}
#section-1-4 {
   
}
#section-1-6 {
    font-size: 18px;
    text-align: left;
    max-width: 300px;
}
.sign-up-btn {
    text-transform: uppercase;
    background-color: #35CDCD;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 3px;
}
.sign-up-btn:hover,
.sign-up-btn:focus {
    background-color: #30b8b8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.sign-up-input {
    border: 0px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 0px;
    padding: 10px 0px;
    width: 100% !important;
    background-color: transparent !important;

}
#show-video:hover,
#show-video:focus {
    color: #49616F;
    -moz-transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}
/* end section-1 */

/* section-2 */
#section-2-mobile {
    display: none;
}
#section-2-first {
    max-width: 1000px;  
    margin: 0 auto;
    display: flex;
}
#section-2 {
    background-color: #2e3f50;
    padding: 100px 0px;
}
#section-2-1 {
    display: flex;
    width: 500px;
}
#section-2-2 {
    width: 500px;
    float: right;
}
.slider-circle {
    font-size: 15px;
    color: #626f7b;
}
.slider-circle:hover {
    color: #caced3;
    cursor: pointer;
}
.circle-active {
    color: #caced3;
}
.slider-controllers {
    padding-bottom: 3px;
}
.slider-title {
    font-size: 22px;
    font-family: CamptonBook;
    padding-bottom: 5px;
    color: #999999;
}
.slider-text {
    font-size: 15px;
    max-width: 330px;
    color: #999999;
}
.slider-title-active {
    font-size: 22px;
    font-family: CamptonBook;
    padding-bottom: 5px;
    color: #35cdcd;
}
.slider-text-active {
    font-size: 15px;
    max-width: 330px;
    color: #fff;
}
.hidden-pic {
    display: none;
}
.sl-space {
    padding-bottom: 35px;
}
.learn-more-btn {
    text-transform: uppercase;
    background-color: #35CDCD;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 3px;
}
.learn-more-btn:hover,
.learn-more-btn:focus {
    background-color: #30b8b8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
/* end section-2 */

.learn-more-link,
.learn-more-link:hover,
.learn-more-link:focus {
    color: #35cdcd;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
}

/* section-3 */

#section-3 {
    background-color: #f8f8f8; 
    padding: 100px 0px;
}
#section-3-1 {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.section-3-1-a {
  width: 33%;
  text-align: center;
}
.section-3-1-a-1 {
    padding-bottom: 30px;
    min-height: 100px;
}
.section-3-icon {
    max-width: 60px;
}
.section-3-1-a-2 {
    font-size: 22px;
    max-width: 300px;
    margin: 0 auto;
    min-height: 150px;
}
.s3-btn {
    text-transform: uppercase;
    background-color: #35CDCD;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    padding: 12px 50px;
    border-radius: 3px;
}
.s3-btn:hover,
.s3-btn:focus {
    background-color: #30b8b8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}





/* #section-3 {
    display: flex;
}
#section-3-1 {
    background-color: #fff;
    width: 50%;
}
#section-3-1-1 {
    max-width: 500px;
    float: right;
    padding-right: 30px;
    padding-top: 90px;
}
#section-3-1-a {
    font-family: CamptonBook;
    font-size: 30px;
    color: #2e3f50;
    padding-bottom: 15px;
}
#section-3-photo {
    background-image: url(img/patients-img-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0px ;
    width: 50%;
    background-color: #fff;
}
.s3-btn {
    text-transform: uppercase;
    background-color: #35CDCD;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    padding: 12px 50px;
    border-radius: 3px;
}
.s3-btn:hover,
.s3-btn:focus {
    background-color: #30b8b8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
} */

/* end section-3 */

/* section-4 */
#section-4 {
    font-family: Campton;
    background-image: url(img/patients-img-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#section-4-content {
    max-width: 1200px;
    margin: 0 auto;
}
#section-4-1 {
    padding-left: 600px;
    padding-bottom: 100px;
    padding-top: 100px;
}
#section-4-a {
    font-size: 22px;
    padding-bottom: 20px;
}
#section-4-b {
    background-color: rgba(255,255,255,0.8);
    padding: 40px;
    border-radius: 3px;

}
#section-4-b-1 {
    font-size: 35px;
    font-family: CamptonBook;
    color: #2e3f50;
    padding-bottom: 15px;
}
#section-4-2 { 
    font-size: 19px; 
    padding-bottom: 40px;
}

#section-4-mobile {
    display: none;
}
/* end section-4 */

/*  footer  */
footer {
    background-color: #2e3f50;
}
#footer-id {
    max-width: 1200px;
    margin: 0 auto;
}
a.a-link,
a.a-link:focus,
a.a-link:active,
a.a-link:hover {
    font-size: 13px;
    color: #fff;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: none;
}
#footer-mobile {
    display: none;
}
/*  end footer  */



@media screen and (min-width: 500px) and (max-width: 1000px) {
  #section-1-content {
      padding-left: 30px;
      padding-right: 30px; 
  }
  #section-1 {
      background-position: top center;
  }
  #section-2 {
      max-width: 1000px;
      margin: 0 auto;
      padding: 100px 30px;
      display: initial;
  }
  #section-2-1 {
      display: none;
      width: 100%;
  }
  #section-2-2 {
      width: 100%;
      float: none;
      padding: 0px 30px;
  }
  #section-3-1 {
      padding-left: 30px;
  }
  #section-3-photo {
      background-position: top center;
  }

  #section-4-1 {
      padding-right: 30px;
      padding-left: 50%;
  }
  #section-4-b {
      padding-bottom: 30px;
  }

  footer {
      padding-left: 30px;
      padding-right: 30px;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
  #section-4-1 {
      padding-right: 30px;
      padding-left: 30px;
  }
  #section-3-photo {
      background-position: top center;
  }
  #section-3-1-1 {
      padding-top: 30px;
  }


}
@media screen and (max-width: 500px) {
  #menu-id {
      display: none;
  }
  #header-content {
      padding: 10px 0px 10px 25px;
  }
  #logo-img {
      max-width: 150px;
  }
  #menu-mobile {
      display: initial;
  }
  #section-1 {
      background-size: cover;
      background-position: bottom center;
      padding: 0px;
      padding-bottom: 0px;
  }
  #section-1-content {
      padding-bottom: 150px;
  }
  #section-1-1 {
      font-size: 25px;
      text-align: center;
  }
  #section-1-2 {
      font-size: 16px;
      padding-bottom: 20px;
      text-align: center;
  }
  #section-1-3 {
      border-top: 1px solid #000;
      width: 80px;
      padding-bottom: 25px;
      margin: auto;
  }
  #section-1-4 {
      display: initial;
      text-align: center;
  }
  #section-1-5 {
      margin:0 auto;
      max-width: 300px;
      padding-right: 0px;
      padding-bottom: 20px;
  }
  #section-1-6 {
      font-size: 18px;
      text-align: center;
      max-width: 300px;
      margin: 0 auto;
  }

  .sign-up-btn {
      text-transform: uppercase;
      background-color: #35CDCD;
      color: #fff;
      border-width: 0px;
      font-size: 14px;
      padding: 12px 30px;
      border-radius: 3px;
      width: 300px;
  }
  .sign-up-btn:hover,
  .sign-up-btn:focus {
      background-color: #30b8b8;
      color: #fff;
      cursor: pointer;
  }
  .sign-up-input {
      border: 1px solid #000;
      border-radius: 3px;
      opacity: 0.7;
      padding: 14px 20px;
      font-size: 16px;
      width: 300px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    text-align: center;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    text-align: center;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    text-align: center;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    text-align: center;
  }
  #section-2 {
      display: none;
  }
  #section-2-mobile {
      display: initial;
      padding-bottom: 50px;
      background-color: #2e3f50 !important;
  }
#section-3 {
    padding: 60px 0px;
}
#section-3-1 {
    max-width: 90%;
}
.section-3-1-a-1 {
    padding-bottom: 0px;
    min-height: 50px;
}
.section-3-icon {
    max-width: 30px;
}
.section-3-1-a-2 {
    font-size: 12px;
    min-height: 80px;
}
.s3-btn {
    background-color: #f8f8f8;
    color: #35CDCD;
    font-size: 12px;
    padding: 2px 10px;
}
.s3-btn:hover,
.s3-btn:focus {
    color: #30b8b8;
    background-color: #f8f8f8;

}

  #section-4 {
      display: none;
  }
  #section-4-mobile {
      display: initial;
      background-color: #fff;
      width: 100%;
  }
  #section-4-mobile-content {
      padding: 40px 0px;
      color: #000;
      background-color: #fff;
  }
  #section-4-mc-1 {
      max-width: 300px;
      text-align: center;
      margin: 0 auto;
  }
  #section-4-mobile-2 {
      background-image: url(img/patients-img-3.png);
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 100px 0px;
      background-color: #35cdcd;
  }
  #section-4-mobile-3 {
      background-color: #35cdcd;
      padding: 50px 0px;
  }
  #section-4-mobile-5 {
      font-size: 24px;
      max-width: 250px;
      color: #fff;
      text-align: center;
      margin: 0 auto;
      padding: 40px 0px;
  }
  .call-me-btn {
      text-transform: uppercase;
      background-color: #2e3f50;
      color: #fff;
      border-width: 0px;
      font-size: 14px;
      padding: 10px 30px;
      border-radius: 3px;
      opacity: 1;
  }
  .call-me-btn:hover,
  .call-me-btn:focus {
      background-color: #2e3f50;
      color: #fff;
      cursor: pointer;
  }

  footer {
    display: none;
  }
  #footer-mobile {
      display: initial;
  }
  a.a-link,
  a.a-link:focus,
  a.a-link:active,
  a.a-link:hover {
      font-size: 13px;

  }
  #mobile-menu-content {
      min-width: 100%;
      min-height: 100%;
      background-color: #2e3f50;
  }
  a.header-link {
      font-size: 14px;
      color: #35cdcd;
      padding-top: 0px;
      margin-top: 0px;
      text-decoration: none;
  }
  a.header-link:focus,
  a.header-link:active,
  a.header-link:hover {
      font-size: 14px;
      color: #35cdcd;
      padding-top: 0px;
      margin-top: 0px;
      text-decoration: none;
  }
  a.hl-active {
      color: #35cdcd;
  }
  a.header-link-btn {
      background-color: #35cdcd;
      padding: 15px 50px;
      border-radius: 3px;
      font-size: 14px;
      color: #fff;
      margin-top: 0px;
      text-decoration: none;
  }
  a.header-link-btn:focus,
  a.header-link-btn:active,
  a.header-link-btn:hover {
      font-size: 14px;
      color: #fff;
      background-color: #35cdcd;
      margin-top: 0px;
      text-decoration: none;
  }
  .menu-space {
      display: block;
      padding-left: 0px;
      text-align: center;
      padding-bottom: 50px;
  }

  

}





