body {
    background-color: #fff;
    font-family: 'Campton-Light';
}
@font-face {
    font-family: Campton;
    src: url('../fonts/Campton Light.otf');
}
@font-face {
    font-family: CamptonBook;
    src: url('../fonts/Campton Book.otf');
}
.form-control:focus {
    background-color: rgba(255,255,255,0.8);
    border: 0px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
}

/* header */
header {
    background-color: #4d5f6f;
}
#header-content {
    padding: 20px 0px;
    max-width: 1200px;
    margin: 0 auto;
}
#logo-img {
    max-width: 250px;
}
a.header-link {
    font-size: 13px;
    color: #fff;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: none;
}
a.header-link:focus,
a.header-link:active,
a.header-link:hover {
    font-size: 13px;
    color: #35cdcd;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: none;
}
a.hl-active {
    color: #35cdcd;
}
a.header-link-btn {
    background-color: #35cdcd;
    padding: 16px 40px;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    margin-top: 0px;
    text-decoration: none;
}
a.header-link-btn:focus,
a.header-link-btn:active,
a.header-link-btn:hover {
    font-size: 13px;
    color: #fff;
    background-color: #01BAB7;
    margin-top: 0px;
    text-decoration: none;
}
.menu-space {
    display: inline-block;
    padding-left: 25px;
}
#menu-mobile {
    display: none;
}
/* end header */

/*section-1*/
#section-1 {
    font-family: Campton;
    background-image: url('../img/robin-care-logo-white.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px;
}

.sign-up-btn {
    text-transform: uppercase;
    background-color: #35CDCD;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 3px;
}
.sign-up-btn:hover,
.sign-up-btn:focus {
    background-color: #30b8b8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.sign-up-input {
    border: 0px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 0px;
    padding: 10px 0px;
    width: 100% !important;
    background-color: transparent !important;

}
#show-video:hover,
#show-video:focus {
    color: #49616F;
    -moz-transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}
/* end section-1 */

.slider-circle {
    font-size: 15px;
    color: #626f7b;
}
.slider-circle:hover {
    color: #caced3;
    cursor: pointer;
}
.circle-active {
    color: #caced3;
}
.slider-controllers {
    padding-bottom: 3px;
}
.slider-title {
    font-size: 22px;
    font-family: CamptonBook;
    padding-bottom: 5px;
    color: #999999;
}
.slider-text {
    font-size: 15px;
    max-width: 330px;
    color: #999999;
}
.slider-title-active {
    font-size: 22px;
    font-family: CamptonBook;
    padding-bottom: 5px;
    color: #35cdcd;
}
.slider-text-active {
    font-size: 15px;
    max-width: 330px;
    color: #fff;
}
.hidden-pic {
    display: none;
}
.sl-space {
    padding-bottom: 35px;
}
.learn-more-btn {
    text-transform: uppercase;
    background-color: #35CDCD;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 3px;
}
.learn-more-btn:hover,
.learn-more-btn:focus {
    background-color: #30b8b8;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
/* end section-2 */

.learn-more-link,
.learn-more-link:hover,
.learn-more-link:focus {
    color: #35cdcd;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
}


/*  footer  */
footer {
    background-color: #2e3f50;
}
#footer-id {
    max-width: 1200px;
    margin: 0 auto;
}
a.a-link,
a.a-link:focus,
a.a-link:active,
a.a-link:hover {
    font-size: 13px;
    color: #fff;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: none;
}
#footer-mobile {
    display: none;
}
/*  end footer  */



@media screen and (min-width: 500px) and (max-width: 1000px) {
 

  footer {
      padding-left: 30px;
      padding-right: 30px;
  }
}

@media screen and (min-width: 500px) and (max-width: 750px) {


}
@media screen and (max-width: 500px) {
  #menu-id {
      display: none;
  }
  #header-content {
      padding: 10px 0px 10px 25px;
  }
  #logo-img {
      max-width: 150px;
  }
  #menu-mobile {
      display: initial;
  }
  

  .sign-up-btn {
      text-transform: uppercase;
      background-color: #35CDCD;
      color: #fff;
      border-width: 0px;
      font-size: 14px;
      padding: 12px 30px;
      border-radius: 3px;
      width: 300px;
  }
  .sign-up-btn:hover,
  .sign-up-btn:focus {
      background-color: #30b8b8;
      color: #fff;
      cursor: pointer;
  }
  .sign-up-input {
      border: 1px solid #000;
      border-radius: 3px;
      opacity: 0.7;
      padding: 14px 20px;
      font-size: 16px;
      width: 300px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    text-align: center;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    text-align: center;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    text-align: center;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    text-align: center;
  }

.s3-btn {
    background-color: #f8f8f8;
    color: #35CDCD;
    font-size: 12px;
    padding: 2px 10px;
}
.s3-btn:hover,
.s3-btn:focus {
    color: #30b8b8;
    background-color: #f8f8f8;

}

  
  .call-me-btn {
      text-transform: uppercase;
      background-color: #2e3f50;
      color: #fff;
      border-width: 0px;
      font-size: 14px;
      padding: 10px 30px;
      border-radius: 3px;
      opacity: 1;
  }
  .call-me-btn:hover,
  .call-me-btn:focus {
      background-color: #2e3f50;
      color: #fff;
      cursor: pointer;
  }

  footer {
    display: none;
  }
  #footer-mobile {
      display: initial;
  }
  a.a-link,
  a.a-link:focus,
  a.a-link:active,
  a.a-link:hover {
      font-size: 13px;

  }
  #mobile-menu-content {
      min-width: 100%;
      min-height: 100%;
      background-color: #2e3f50;
  }
  a.header-link {
      font-size: 14px;
      color: #35cdcd;
      padding-top: 0px;
      margin-top: 0px;
      text-decoration: none;
  }
  a.header-link:focus,
  a.header-link:active,
  a.header-link:hover {
      font-size: 14px;
      color: #35cdcd;
      padding-top: 0px;
      margin-top: 0px;
      text-decoration: none;
  }
  a.hl-active {
      color: #35cdcd;
  }
  a.header-link-btn {
      background-color: #35cdcd;
      padding: 15px 50px;
      border-radius: 3px;
      font-size: 14px;
      color: #fff;
      margin-top: 0px;
      text-decoration: none;
  }
  a.header-link-btn:focus,
  a.header-link-btn:active,
  a.header-link-btn:hover {
      font-size: 14px;
      color: #fff;
      background-color: #35cdcd;
      margin-top: 0px;
      text-decoration: none;
  }
  .menu-space {
      display: block;
      padding-left: 0px;
      text-align: center;
      padding-bottom: 50px;
  }

  

}





